form{
    background: #fff;
    border-radius: 7px;
    padding: 12px;
    border: solid 1px #8796dc78;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12); 
}
h2{
    text-align: center;
    color: #3f51b5;
}
.btn-submit{
    margin-left: 15px;
}