<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
        <h2> Cadastro </h2>
        <div class="form-content">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput 
                            formControlName="name" 
                            type="text"
                            name="name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput 
                            formControlName="email" 
                            type="text"
                            name="email" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput 
                            formControlName="pass" 
                            type="password"
                            name="password"
                            (focusout)="onBlur()"
                            required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput 
                            formControlName="confpass" 
                            type="password"
                            name="confpass" 
                            (focusout)="onBlur()"
                            required>
                </mat-form-field>
            </div>
            <div style="display: none;">
                <input type="checkbox" name="" id="" formControlName="passConfir">
            </div>
            <div style="display: flex; justify-content: center">
                <a mat-stroked-button [routerLink]="['/account/login']" >Login</a>
                <button mat-raised-button color="primary" type="submit" class="btn-submit" [disabled]="registerForm.invalid">Cadastrar Se</button>
            </div>
            
        </div>
    </form>
</div>