<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <h2> Faça o Login </h2>
    <div class="form-content">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput 
                        formControlName="user" 
                        type="text"
                        name="user" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput 
                        formControlName="pass" 
                        type="password"
                        name="password" required>
            </mat-form-field>
        </div>
        
        <a mat-stroked-button [routerLink]="['/account/cadastro']" >cadastrar se</a>
        <button mat-raised-button color="primary" type="submit"> Login </button>
    </div>
</form>
